

.head{
    display: flex;justify-content: space-between;margin:0 100px 0;
}
.btn{
    margin-top: 20px;
}
.bg {
 
    background-image: url(./B10A1-Challenge-Begins/assets/Hero-bg.png);
  
    width: 100%;
   
 

}
.img{
    margin-top:10px;
    display: flex;
     justify-content: center;
   padding: 40px;
 
 }
.center{
    text-align: center;
}
.cent-r{
    text-align: center;
}

.bt{
    display: flex;
    justify-content: center;
   
}
 

.btn-2{
   display: flex;
    height: 30px;
    text-align: center; 
color: aliceblue;
background-color: black;border-radius: 5px;}
.dt{
   padding: 50px;
   
 
}

.a{
    text-align: center;
  

}
.main{
   margin-left: 100px;
   margin-right: 100px;
    
}
 

.abc{
    border-radius:10px; 
    margin-top: 100px;
    background-color:  rgba(13, 19, 33, 0.02);padding: 30px;
    
}
.ab{
    border-radius: 10px;
    display: flex; 
    margin-top: 20px;
    justify-content: space-between;
    background-color:  rgba(255, 255, 255, 1);
    
}
.bc{
    border-radius: 10px;
    display: flex;
    padding-top: 20px; 
    gap: 40px;background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}
.ca{display: flex;
  margin-top: 20px;
    border-radius: 10px;
    
    justify-content: space-between;background-color:  rgba(255, 255, 255, 1);
    
     
 
    
}
.te{
    padding: 20px,

}

.flex{
    padding-left: 0;
  padding-top: 20px;
  padding-right: 400px;
}
.img-1{
  display: flex;
 justify-content:  right;
 padding-right: 5px;
}
.flex-1{ 
   text-align: right;
    padding-left: 800px;
    padding-top:10px;
    padding-right:0;
    

 
}
.img-2{
    justify-content: left;padding-right: 5px;
     
}
.img-3{
    display: flex;padding-right: 5px;
}
     


.ins{
    text-align: center;
}
.mycurrent{
    justify-content: center;
   text-align: center;
   margin-top: 50px;
}
.htmg{
    display: flex;
    gap: 60px;
 justify-content: center;
  
 margin-top: 50px;
}
.fot{
    background-image: url(./B10A1-Challenge-Begins/assets/handshake.jpg);
    height: 350px;
    width:  92%;
    justify-content: center;
   margin-right:  90px;
 margin-top: 30px;border-radius: 10px;
 padding: 60px;
}
.in{
    height: 30px;width: 250px;
    border-radius: 5px;
    color: rgba(13, 19, 33, 0.4);
}
.b{
    height: 40px;width: 100px;
    border-radius: 5px; 
    color:#0D1321;
}
.h1{
    color: #FFFFFF;
}
.t{
 color: #FFFFFF;
}
.mar{
    text-align: center; 
    margin-top: 100px;

}
.ht-1{background-color: rgba(255, 76, 30, 0.05);
    height: 300px;
    width:  800px; 
     border-radius: 10px;
 
}.ht-2{
    background-color: rgba(0, 76, 232, 0.05);
    width: 800px;  height: 300px;  border-radius: 10px;
}
.ht-3{
    background-color:  rgba(255, 223, 0, 0.05);
    width: 800px;  height: 300px; 
     border-radius: 10px;
}
.foter{
    display: flex;
    justify-content: space-between;  
    padding-top: 50px;padding-left: 150px;padding-right: 250px;
    background-color:hwb(223 92% 3%); border-radius: 5px;
    margin-top: 50px;
}
.ftt{display: flex;
    gap: 40px;
    margin-bottom: 30px;
}
 
 

